#header-control {
  padding: 5px 10px;
  margin-top: 10px;
}
#header-control #time #date {
  font-size: 13px;
  color: #767676;
  font-weight: 700;
  margin-right: 10px;
  border-right: 1px solid #767676;
  padding-right: 12px;
  line-height: 24px;
}
#header-control #time #current-time {
  font-size: 18px;
  font-weight: 700;
  color: #3C3C3C;
}
#header-control #action .option-model label {
  font-size: 12px;
  color: #767676;
  padding-right: 10px;
}
#header-control #action .option-model select {
  outline: none;
  border: 1px solid #cfcfcf;
  width: 10em;
  height: 30px;
  border-radius: 3px;
  font-size: 13px;
  color: #767676;
}
#header-control #action .option-time {
  margin-left: 15px;
  position: relative;
}
#header-control #action .option-time label {
  font-size: 12px;
  color: #767676;
  padding-right: 10px;
}
#header-control #action .option-time select {
  outline: none;
  border: 1px solid #cfcfcf;
  width: 16em;
  height: 30px;
  border-radius: 3px;
  font-size: 13px;
  color: #767676;
  padding-left: 10px;
}
#header-control #action .option-time .fa-clock-o {
  position: absolute;
  top: 15%;
  font-size: 20px;
  left: 55px;
}
#header-control #action .btn-export-excel a {
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  padding: 9px 25px;
  font-size: 12px;
  background: #237BFE;
  border: none;
}
#header-control #action .btn-export-excel a:hover {
  background: #1762d1;
}
#header-control #action .btn-export-excel i {
  font-size: 15px;
  padding-left: 5px;
}
#header-control #action .btn-setting {
  border: 1px solid #cfcfcf;
  margin: 0px 10px;
}
#header-control #action .btn-setting:hover {
  background: #ededed;
}
#header-control #action .btn-setting i {
  font-size: 14px;
  padding-right: 5px;
}
#header-control #action select:hover {
  cursor: pointer;
}
#header-control #action #action-form-search #form-search-model, #header-control #action #action-form-search #form-search-result {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 18px;
  color: #5f5f5f;
}
#header-control #action #action-form-search .input-date-time {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #cfcfcf;
  font-size: 18px;
  color: #5f5f5f;
}
#header-control #action #action-form-search #start-time, #header-control #action #action-form-search #end-time {
  padding: 4px 10px;
}
#header-control #action #action-form-search .label-input-time {
  font-size: 17px;
  color: #818181;
  padding-right: 2px;
}
#header-control #action #action-form-search .content #overview-result {
  flex-basis: 25%;
}
#header-control #action #action-form-search .content #overview-result .counting {
  flex-basis: 38%;
  border: 1px solid #a1a8f6;
  height: auto;
  padding: 0 10px;
}
#header-control #action #action-form-search .content #overview-result .counting .first-row .lbl-counting {
  font-size: 16px;
  font-weight: 700;
  color: #4F5AED;
  line-height: 16px;
}
#header-control #action #action-form-search .content #overview-result .counting .first-row .lbl-tray-total {
  font-size: 14px;
  font-weight: 700;
  color: #767676;
}
#header-control #action #action-form-search .content #overview-result .counting .first-row .lbl-number {
  font-size: 24px;
  color: #385083;
  font-weight: 600;
  padding: 10px;
}
#header-control #action #action-form-search .content #overview-result .counting .second-row .title {
  font-size: 13px;
  color: #767676;
  font-weight: 700;
  min-width: 60px;
}
#header-control #action #action-form-search .content #overview-result .counting .second-row .total {
  font-size: 24px;
  color: #385083;
  font-weight: 600;
  padding-left: 42px;
}
#header-control #action #action-form-search .content #overview-result .counting .second-row .total span {
  font-size: 14px;
}
#header-control #action #action-form-search .content #overview-result .counting .third-row .title {
  font-size: 13px;
  color: #767676;
  font-weight: 700;
  min-width: 60px;
}
#header-control #action #action-form-search .content #overview-result .counting .third-row .total {
  font-size: 24px;
  color: #385083;
  font-weight: 600;
  padding-left: 42px;
}
#header-control #action #action-form-search .content #overview-result .counting .third-row .total div {
  min-width: 53px;
}
#header-control #action #action-form-search .content #overview-result .counting .third-row .total div span {
  font-size: 14px;
}
#header-control #action #action-form-search .content #overview-result .counting .third-row .total span.percent {
  display: inline-block;
  background: rgba(117, 237, 151, 0.5019607843);
  color: #1ec802;
  font-size: 14px;
  width: 70px;
  margin-left: 10px;
  border-radius: 3px;
  padding: 2px;
  text-align: center;
  padding-top: 5px;
}
#header-control #action #action-form-search .content #overview-result .counting .fourth-row .title {
  font-size: 13px;
  color: #767676;
  font-weight: 700;
  min-width: 60px;
}
#header-control #action #action-form-search .content #overview-result .counting .fourth-row .total {
  font-size: 24px;
  color: #385083;
  font-weight: 600;
  padding-left: 42px;
}
#header-control #action #action-form-search .content #overview-result .counting .fourth-row .total div {
  min-width: 53px;
}
#header-control #action #action-form-search .content #overview-result .counting .fourth-row .total div span {
  font-size: 14px;
}
#header-control #action #action-form-search .content #overview-result .counting .fourth-row .total span.percent {
  display: inline-block;
  background: rgba(242, 181, 181, 0.5019607843);
  color: #E34440;
  font-size: 14px;
  width: 70px;
  margin-left: 10px;
  border-radius: 3px;
  padding: 2px;
  text-align: center;
  padding-top: 5px;
}
#header-control #action #action-form-search .content #overview-result .counting .fifth-row .title {
  font-size: 13px;
  color: #767676;
  font-weight: 700;
  min-width: 60px;
}
#header-control #action #action-form-search .content #overview-result .counting .fifth-row .total {
  font-size: 24px;
  color: #385083;
  font-weight: 600;
  padding-left: 42px;
}
#header-control #action #action-form-search .content #overview-result .counting .fifth-row .total div {
  min-width: 53px;
}
#header-control #action #action-form-search .content #overview-result .counting .fifth-row .total div span {
  font-size: 14px;
}
#header-control #action #action-form-search .content #overview-result .counting .fifth-row .total span.percent {
  display: inline-block;
  background: rgba(77, 77, 75, 0.5);
  color: #ffffff;
  font-size: 14px;
  width: 70px;
  margin-left: 10px;
  border-radius: 3px;
  padding: 2px;
  text-align: center;
  padding-top: 5px;
}
