#header {
  padding: 0px 5px;
  border-bottom: 1px solid #B5B5B5;
  height: 51px;
  padding-bottom: 3px;
}
#header #icon h3 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 24px;
  color: #4F5AED;
  padding-left: 10px;
}
#header #logo_company_design {
  position: relative;
}
#header #logo_company_design img {
  margin-top: 12px;
}
#header #logo_company_design h4 {
  font-weight: bold;
  position: absolute;
  font-size: 13px;
  top: 12px;
  left: 38px;
}
