.history .cam-is-active {
  background: #0ad90a !important;
}
.history .genera-title {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0px;
}
.history .label-title {
  width: 105px;
}
.history thead {
  flex-direction: column;
  display: flex;
}
.history .text-success {
  color: #49A31D;
}
.history .text-danger {
  color: #E4491D;
}
.history #time-log {
  flex-basis: 34%;
  background: #F2F5FF;
  padding: 7px 0px 0px 10px;
  border-radius: 4px;
}
.history .max-w90 {
  max-width: 90px;
}
.history .max-w105 {
  max-width: 105px;
}
.history .ea_table {
  display: block;
  background: #F2F5FF;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
  float: left;
  height: auto;
  width: 100%;
}
.history .ea_table tbody {
  flex-direction: column;
  display: flex;
  overflow-y: scroll;
  max-height: 146px;
  overflow-x: hidden;
}
.history .ea_table tbody tr:nth-child(2n+1) {
  background: #f8f8f8;
}
.history .ea_table thead {
  display: table;
  width: calc(100% - 17px);
  border-bottom: 1px solid #667085;
}
.history .ea_table tr {
  display: flex;
}
.history .ea_table td {
  padding: 3px 0px;
  text-align: left;
  flex: 1;
  background: #F2F5FF;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #667085;
}
.history .ea_table th {
  font-size: 14px;
  padding: 3px 0px;
  text-align: left;
  flex: 1;
  background: #F2F5FF;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #667085;
}
.history #overview {
  flex-basis: 49%;
}
.history #overview #title-overview {
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.history #overview .wrap-overview {
  background: #F2F5FF;
  padding: 12px 10px;
  border-radius: 3px;
}
.history #overview .wrap-overview .counting-status .counting {
  flex-basis: 38%;
  border: 1px solid #a1a8f6;
  height: auto;
  padding: 0 10px;
  border-radius: 4px;
}
.history #overview .wrap-overview .counting-status .first-row .lbl-counting {
  font-size: 16px;
  font-weight: 700;
  color: #4F5AED;
  line-height: 16px;
}
.history #overview .wrap-overview .counting-status .first-row .lbl-tray-total {
  font-size: 14px;
  font-weight: 700;
  color: #767676;
}
.history #overview .wrap-overview .counting-status .first-row .lbl-number {
  font-size: 24px;
  color: #385083;
  font-weight: 600;
  padding: 10px;
}
.history #overview .wrap-overview .counting-status .second-row .title {
  font-size: 13px;
  color: #767676;
  font-weight: 700;
  min-width: 30px;
}
.history #overview .wrap-overview .counting-status .second-row .total {
  font-size: 24px;
  color: #385083;
  font-weight: 600;
  padding-left: 42px;
}
.history #overview .wrap-overview .counting-status .second-row .total span {
  font-size: 14px;
}
.history #overview .wrap-overview .counting-status .third-row .title {
  font-size: 13px;
  color: #767676;
  font-weight: 700;
  min-width: 30px;
}
.history #overview .wrap-overview .counting-status .third-row .total {
  font-size: 24px;
  color: #385083;
  font-weight: 600;
  padding-left: 42px;
}
.history #overview .wrap-overview .counting-status .third-row .total div {
  min-width: 53px;
}
.history #overview .wrap-overview .counting-status .third-row .total div span {
  font-size: 14px;
}
.history #overview .wrap-overview .counting-status .third-row .total span.percent {
  display: inline-block;
  background: rgba(117, 237, 151, 0.5019607843);
  color: #1ec802;
  font-size: 14px;
  width: 53px;
  margin-left: 10px;
  border-radius: 3px;
  padding: 2px;
  text-align: center;
  padding-top: 5px;
}
.history #overview .wrap-overview .counting-status .fourth-row .title {
  font-size: 13px;
  color: #767676;
  font-weight: 700;
  min-width: 30px;
}
.history #overview .wrap-overview .counting-status .fourth-row .total {
  font-size: 24px;
  color: #385083;
  font-weight: 600;
  padding-left: 42px;
}
.history #overview .wrap-overview .counting-status .fourth-row .total div {
  min-width: 53px;
}
.history #overview .wrap-overview .counting-status .fourth-row .total div span {
  font-size: 14px;
}
.history #overview .wrap-overview .counting-status .fourth-row .total span.percent {
  display: inline-block;
  background: rgba(242, 181, 181, 0.5019607843);
  color: #E34440;
  font-size: 14px;
  width: 53px;
  margin-left: 10px;
  border-radius: 3px;
  padding: 2px;
  text-align: center;
  padding-top: 5px;
}
.history #overview .wrap-overview #io-status {
  margin-left: 20px;
  flex-basis: 60%;
  border: 1px solid #a1a8f6;
  height: 100%;
  padding: 0 10px;
  border-radius: 4px;
  min-height: 182px;
  line-height: 16px;
}
.history #overview .wrap-overview #io-status #title-io-status {
  font-size: 13px;
  color: #4F5AED;
  font-weight: 700;
  margin-top: 8px;
}
.history #overview .wrap-overview #io-status label.label-title {
  font-size: 12px;
  color: #3C3C3C;
  font-weight: 500;
}
.history #overview .wrap-overview #io-status span {
  /*i {
      color: #b6b9b6;
      font-size: 9px;
  }*/
}
.history #overview .wrap-overview #io-status span .div-status {
  width: 8px;
  height: 8px;
  background: #b6b9b6;
  font-size: 9px;
  border-radius: 50%;
  display: inline-block;
}
.history #overview .wrap-overview #io-status span label {
  font-size: 11.5px;
  color: #767676;
  font-weight: 400;
}
.history #overview .wrap-overview #io-status .wr-system-status {
  font-size: 13px;
  color: #3c3c3c;
  font-weight: 500;
}
.history #overview .wrap-overview #io-status .wr-system-status #value-system-status {
  padding: 3px 15px;
  border-radius: 10px;
  background: #E6E6E6;
  margin-left: 10px;
  color: #344054;
  font-weight: 500;
}
.history #overview .wrap-overview #io-status .wr-system-status #error-system-status {
  color: #E4491D;
  font-weight: 500;
}
.history #overview .wrap-overview #io-status .plc-status {
  font-size: 13px;
  color: #3c3c3c;
  font-weight: 500;
}
.history #overview .wrap-overview #io-status .plc-status #value-plc-status {
  margin-left: 10px;
  padding: 3px 15px;
  border-radius: 10px;
  background: #E6E6E6;
  color: #344054;
  font-weight: 500;
}
.history #overview .wrap-overview #io-status .plc-status #error-plc-status {
  color: #E4491D;
  font-weight: 500;
}
.history #overview .statistical-chart {
  background: #F2F5FF;
  border-radius: 3px;
  padding: 12px 10px;
}
.history #overview .statistical-chart .total-error h3#title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.history #overview .statistical-chart .total-error .total {
  color: #767676;
  font-size: 14px;
  font-weight: 600;
}
.history #overview .statistical-chart .total-error .total span {
  font-size: 24px;
  color: #385083;
}
.history #overview .statistical-chart .chart {
  width: 84%;
  margin-left: 1em;
}
.history #log-inspection {
  padding-bottom: 3em;
  padding: 10px;
}
.history #log-inspection #result-log {
  flex-basis: 65%;
  background: #ffffff;
  padding: 7px 0px 5px 10px;
  border-radius: 4px;
}
.history #inspection-statistical {
  padding: 10px;
}
.history #inspection-statistical #result {
  flex-basis: 100%;
  background: #ffffff;
  border-radius: 3px;
  padding: 7px 10px;
}
.history #inspection-statistical #result h3.genera-title {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.history #inspection-statistical #result .current-tray {
  flex-basis: 100%;
}
.history #inspection-statistical #result .current-tray .btn-next-tray {
  color: #4f5aed;
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
}
.history #inspection-statistical #result .current-tray .btn-next-tray:hover {
  cursor: pointer;
}
.history #inspection-statistical #result .current-tray .btn-previous-tray {
  color: #4f5aed;
  margin-left: 6.5em;
  margin-right: 37px;
  font-weight: bold;
  display: inline-block;
  font-size: 25px;
}
.history #inspection-statistical #result .current-tray .btn-previous-tray:hover {
  cursor: pointer;
}
.history #inspection-statistical #result .current-tray #title-current-tray {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F5AED;
  padding-left: 0px;
}
.history #inspection-statistical #result .current-tray .current-time {
  font-family: Inter;
  font-size: 14px;
  letter-spacing: 0;
  text-align: left;
  color: #666666;
  font-weight: 700;
  margin-bottom: 10px;
  padding-left: 30px;
}
.history #inspection-statistical #result .current-tray .check-item .no-number {
  flex-basis: 7%;
}
.history #inspection-statistical #result .current-tray .check-item .no-number .empty-row {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  color: #F2F5FF;
}
.history #inspection-statistical #result .current-tray .check-item .no-number .no {
  font-size: 12px;
}
.history #inspection-statistical #result .current-tray .check-item .no-number .stt {
  font-size: 12px;
  padding: 7px 0;
}
.history #inspection-statistical #result .current-tray .check-item .is-check-tray {
  flex-basis: 45%;
  border: 1px solid #8e93cd;
  background: white;
  padding: 0px 30px 7px 30px;
}
.history #inspection-statistical #result .current-tray .check-item .is-check-tray .title-cam {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  color: #767676;
}
.history #inspection-statistical #result .current-tray .check-item .is-check-tray .type-camera {
  font-size: 12px;
  font-weight: 600;
  color: #3C3C3C;
}
.history #inspection-statistical #result .current-tray .check-item .is-check-tray .ng-ok .left-tray, .history #inspection-statistical #result .current-tray .check-item .is-check-tray .ng-ok .right-tray {
  flex-basis: 49%;
}
.history #inspection-statistical #result .current-tray .check-item .is-check-tray .ng-ok .left-tray span, .history #inspection-statistical #result .current-tray .check-item .is-check-tray .ng-ok .right-tray span {
  border-bottom: 1px solid white !important;
}
.history #inspection-statistical #result .current-tray .check-item .is-check-tray .ng-ok div {
  border-bottom: 1px solid white;
}
.history #inspection-statistical #result .current-tray .check-item .is-check-tray .ng-ok .ng {
  flex-basis: 48%;
  text-align: center;
  background: #CDCECF;
  border-right: 1px solid #fff;
  color: #fff;
  font-size: 11px;
  padding: 7px 0px;
}
.history #inspection-statistical #result .current-tray .check-item .is-check-tray .ng-ok .ok {
  flex-basis: 48%;
  text-align: center;
  background: #CDCECF;
  border-right: 1px solid #fff;
  color: #fff;
  font-size: 11px;
  padding: 7px 0px;
}
.history #inspection-statistical #result .current-tray .check-item .checking-tray-left {
  border-right: none;
}
.history #inspection-statistical #result .current-tray .check-item .checking-tray-left .result-left-tray {
  flex-basis: 100%;
  text-align: center;
  flex-direction: column;
  display: flex;
  color: white;
  padding: 4px;
  font-size: 12px;
  border-radius: 3px;
}
.history #inspection-statistical #result .current-tray .check-item .checking-tray-left .result-left-tray:hover {
  cursor: pointer;
  opacity: 0.8;
}
.history #inspection-statistical #result .current-tray .check-item .checking-tray-left .result-left-tray.OK {
  background: #66B032 !important;
}
.history #inspection-statistical #result .current-tray .check-item .checking-tray-left .result-left-tray.NG {
  background: #E4491D !important;
}
.history #inspection-statistical #result .current-tray .check-item .checking-tray-left .result-left-tray.Empty {
  background: #B5B5B5 !important;
}
.history #inspection-statistical #result .current-tray .check-item .checking-tray-right .result-left-tray {
  flex-basis: 100%;
  text-align: center;
  flex-direction: column;
  display: flex;
  color: white;
  padding: 4px;
  font-size: 12px;
  border-radius: 3px;
}
.history #inspection-statistical #result .current-tray .check-item .checking-tray-right .result-left-tray:hover {
  cursor: pointer;
  opacity: 0.8;
}
.history #inspection-statistical #result .image {
  min-width: 904px !important;
  flex-direction: column;
  flex-basis: 40%;
  border: 1px solid #8e93cd;
  margin-top: 46px;
  padding: 25px 15px 15px 22px;
}
.history #inspection-statistical #result .image #type-item-stiffiner {
  font-weight: bold;
  margin-bottom: 10px;
}
.history #inspection-statistical #result .image span {
  font-size: 14px;
  color: #767981;
  font-weight: 600;
  margin-right: 30px;
}
.history #inspection-statistical #result .image span b {
  font-size: 16px;
  color: #667085;
}
.history #inspection-statistical #result .info-error {
  margin-top: 46px;
  border: 1px solid #8e93cd;
  width: 100%;
  margin-left: 3em;
  padding: 25px 15px 15px 22px;
}
.history #inspection-statistical #result .info-error #title {
  color: #767676;
  font-weight: 700;
  margin-bottom: 10px;
}
.history #inspection-statistical #result .info-error .info {
  padding-left: 20px;
}
.history #inspection-statistical #result .info-error .info span {
  margin-bottom: 8px;
  display: inline-block;
}
.history #inspection-statistical #result .info-error .info .information, .history #inspection-statistical #result .info-error .info .position, .history #inspection-statistical #result .info-error .info .side, .history #inspection-statistical #result .info-error .info .title-ng-detail {
  font-weight: bold;
  color: #667085;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
.history #inspection-statistical #result .info-error .title-ng-detail {
  font-weight: bold;
  color: #667085;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
.history #inspection-statistical #result .info-error .label-error {
  flex-basis: 25%;
}
.history #inspection-statistical #result .info-error .title-table .label-error {
  color: #667085;
  font-weight: bold;
  padding: 10px 0px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5019607843);
  border-right: 0.5px solid rgba(0, 0, 0, 0.5019607843);
}
.history #inspection-statistical #result .info-error .title-table .qty-error {
  color: #667085;
  font-weight: bold;
  flex-basis: 15%;
  padding: 10px 4px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5019607843);
}
.history #inspection-statistical #result .info-error .list-error .label-error {
  color: #667085;
  font-weight: bold;
  padding: 10px 0px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5019607843);
  border-right: 0.5px solid rgba(0, 0, 0, 0.5019607843);
}
.history #inspection-statistical #result .info-error .list-error .qty-error {
  color: #667085;
  font-weight: bold;
  flex-basis: 15%;
  padding: 10px 4px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5019607843);
}
