<div class="history">
    <div id="inspection-statistical" class="d-flex justify-content-between">
        <div id="result">
            <div class="d-flex">
                <div class="current-tray">
                    <div class="d-flex align-items-center mb-2">
                        <span class="btn-previous-tray"> < </span>
                        <div id="title-current-tray">
                            TRAY 02
                        </div>
                        <span class="btn-next-tray"> > </span>
                        <button class="ml-4 btn btn-primary" style="margin-left: 3em">Refresh Data</button>
                    </div>
                    @*<div class="mb-3" style=" text-align: center; margin-bottom: 4px; margin-right: 60px; font-weight: 700; font-size: 14px;">
                        Inspect time: 13:32:25 -> 13:33:58
                    </div>*@
                    <div class="d-flex check-item">
                        <div class="no-number">
                            <div class="empty-row">0</div>
                            <div class="no mb-1">No.</div>
                            @for (int i = 1; i <= 20; i++)
                            {
                                <div class="stt">@i</div>
                            }
                        </div>

                        <div class="is-check-tray checking-tray-left">
                            <div class="title-cam text-center">Left</div>
                            <div class="d-flex justify-content-between mb-1">
                                <div class="type-camera">Area cam 1</div>
                                <div class="type-camera">Line cam 2</div>
                            </div>
                            <div class="ng-ok">
                                <div class="d-flex justify-content-center">
                                    <div class="d-flex flex-column left-tray">
                                        @for (int i = 1; i <= 20; i++)
                                        {
                                            <span class="ok left-area-@i">Wait</span>
                                        }
                                    </div>
                                    <div class="d-flex flex-column right-tray">
                                        @for (int i = 1; i <= 20; i++)
                                        {
                                            <span class="ng left-line-@i">Wait</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="is-check-tray checking-tray-right">
                            <div class="title-cam text-center">Right</div>
                            <div class="d-flex justify-content-between mb-1">
                                <div class="type-camera">Area cam 3</div>
                                <div class="type-camera">Line cam 4</div>
                            </div>
                            <div class="ng-ok">
                                <div class="d-flex justify-content-center">
                                    <div class="d-flex flex-column left-tray">
                                        @for (int i = 1; i <= 20; i++)
                                        {
                                            <span class="ok right-area-@i">Wait</span>
                                        }
                                    </div>
                                    <div class="d-flex flex-column right-tray">
                                        @for (int i = 1; i <= 20; i++)
                                        {
                                            <span class="ng right-line-@i">Wait</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info-stiffiner">
                    <h3 id="type-item-stiffiner">NG Details</h3>

                    <div class="d-flex">
                        <span>Position: <b>1</b></span>
                        <span>Detect: <b>3</b></span>
                        <span>Tray ID: <b>3</b></span>
                        <span>Side: <b>Left</b></span>
                        <span>Camera: <b>Line</b></span>
                        <span>Error detect: <b>Black dot, dirty</b></span>
                    </div>

                    <div class="error-image mt-4">
                        @for (int i = 1; i <= 3; i++)
                        {
                            <img src="~/image/error-image.png" class="mb-4" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/history.js"></script>
}