<div class="wrap-content">
    <div id="inspection-statistical" class="d-flex justify-content-between">
        <div id="result">
            <h3 class="genera-title">Result</h3>
            <div class="d-flex justify-content-between">
                <div class="current-tray">
                    <h3 id="title-current-tray">Tray 03 (Inspecting)</h3>
                    <div class="current-time">
                        Inspect time: <span id="current-tray-first-input-time">13:33:02</span> -> now
                    </div>

                    <div class="d-flex check-item">
                        <div class="no-number">
                            <div class="empty-row">0</div>
                            <div class="no mb-1">No.</div>
                            @for (int i = 1; i <= 20; i++)
                            {
                                <div class="stt">@i</div>
                            }
                        </div>

                        <div class="is-check-tray checking-tray-left">
                            <div class="title-cam text-center">Left</div>
                            <div class="d-flex justify-content-between mb-1">
                                <div class="type-camera">Area cam 2</div>
                                <div class="type-camera">Line cam 2</div>
                            </div>
                            <div class="ng-ok">
                                @for (int i = 1; i <= 20; i++)
                                {
                                    <div class="d-flex flex-wrap">
                                        <span class="ok">OK</span>
                                        <span class="ng">NG</span>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="is-check-tray checking-tray-right">
                            <div class="title-cam text-center">Right</div>
                            <div class="d-flex justify-content-between mb-1">
                                <div class="type-camera">Area cam 2</div>
                                <div class="type-camera">Line cam 2</div>
                            </div>
                            <div class="ng-ok">
                                @for (int i = 1; i <= 20; i++)
                                {
                                    <div class="d-flex flex-wrap">
                                        <span class="ok">OK</span>
                                        <span class="ng">NG</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="previous-tray">
                    <h3 id="title-previous-tray">Tray 02</h3>
                    <div class="previous-time">
                        Inspect time: <span id="previous-tray-first-input-time">13:33:02</span> -> 13:38:02
                    </div>

                    <div class="d-flex check-item">
                        <div class="no-number">
                            <div class="empty-row">0</div>
                            <div class="no mb-1">No.</div>
                            @for (int i = 1; i <= 20; i++)
                            {
                                <div class="stt">@i</div>
                            }
                        </div>

                        <div class="is-check-tray checking-tray-left">
                            <div class="title-cam text-center">Left</div>
                            <div class="d-flex justify-content-between mb-1">
                                <div class="type-camera">Area cam 2</div>
                                <div class="type-camera">Line cam 2</div>
                            </div>
                            <div class="ng-ok">
                                @for (int i = 1; i <= 20; i++)
                                {
                                    <div class="d-flex flex-wrap">
                                        <span class="ok">OK</span>
                                        <span class="ng">NG</span>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="is-check-tray checking-tray-right">
                            <div class="title-cam text-center">Right</div>
                            <div class="d-flex justify-content-between mb-1">
                                <div class="type-camera">Area cam 2</div>
                                <div class="type-camera">Line cam 2</div>
                            </div>
                            <div class="ng-ok">
                                @for (int i = 1; i <= 20; i++)
                                {
                                    <div class="d-flex flex-wrap">
                                        <span class="ok">OK</span>
                                        <span class="ng">NG</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="overview">
            <div class="wrap-overview">
                <h3 id="title-overview">Overview</h3>
                <div class="counting-status d-flex justify-content-between">
                    <div class="counting bg-white">
                        <div class="first-row d-flex align-items-center justify-content-between">
                            <div class="lbl-counting">Counting</div>
                            <div class="lbl-tray-total">
                                Tray total
                            </div>
                            <div class="lbl-number">02</div>
                        </div>

                        <div class="second-row d-flex align-items-center justify-content-between mb-1">
                            <div class="title">Total</div>
                            <div class="w-100 total">
                                05<span class="">EA</span>
                            </div>
                        </div>


                        <div class="third-row d-flex align-items-center justify-content-between mb-1">
                            <div class="title">OK</div>
                            <div class="w-100 total">
                                <div class="d-inline-block">
                                    56<span>EA</span>
                                </div>
                                <span class="percent">60%</span>
                            </div>
                        </div>

                        <div class="fourth-row d-flex align-items-center justify-content-between mb-1">
                            <div class="title">NG</div>
                            <div class="w-100 total">
                                <div class="d-inline-block">
                                    56<span>EA</span>
                                </div>
                                <span class="percent">31.7%</span>
                            </div>
                        </div>

                        <div class="second-row d-flex align-items-center justify-content-between mb-1">
                            <div class="title">Empty</div>
                            <div class="w-100 total">
                                05<span class="">EA</span>
                            </div>
                        </div>
                    </div>

                    <div id="io-status" class="bg-white">
                        <div class="mt-1">
                            <div id="title-io-status" class="mb-2">IO Status</div>
                            @for (int i = 1; i <= 4; i++)
                            {
                                <div class="mb-2">
                                    <label class="label-title">PC@{@i}-Area Camera:</label>

                                    <span class="mx-1">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <label>Connect</label>
                                    </span>

                                    <span class="mx-1">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <label>CAM</label>
                                    </span>

                                    <span class="mx-1">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <label>PLC</label>
                                    </span>

                                    <span class="mx-1">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <label>Client</label>
                                    </span>

                                    <span class="mx-1">
                                        <i class="fa fa-circle" aria-hidden="true" style="color: #b6b9b6"></i>
                                        <label>
                                            Trigger
                                            CAM
                                        </label>
                                    </span>
                                </div>
                            }

                        <div class="wr-system-status mb-2 mt-3">
                            <span id="label-system-status">System status:</span>
                            <span id="value-system-status">Running</span>
                        </div>

                        <div class="plc-status mb-2">
                            <span id="label-plc-status">PLC Connect Status:</span>
                            <span id="value-plc-status">Stop</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="statistical-chart mt-4 d-flex">
                <div class="total-error">
                    <h3 id="title">Error Detach</h3>
                    <div class="total">
                        Total <span>30</span> detach
                    </div>
                </div>

                <div class="chart">
                    <canvas id="pie-chart" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div id="log-inspection" class="d-flex justify-content-between">
        <div id="result-log">
            <h3 class="genera-title">Result Log</h3>
            <table class="ea_table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Model</th>
                        <th>Tray Number</th>
                        <th>Side</th>
                        <th>No</th>
                        <th>Camera</th>
                        <th>Result</th>
                        <th>Error Detection</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="result-log-no-data">
                        <td colspan="12" class="w-100 text-lg-center text-dark fw-bold mt-1" style="font-size: 14px;">No data</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="time-log">
            <h3 class="genera-title">Time Log</h3>
            <table class="ea_table tbl-time-log">
                <thead>
                    <tr>
                        <th class="max-w90">Time</th>
                        <th class="max-w105">Type</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="time-log-no-data">
                        <td colspan="12" class="w-100 text-lg-center text-dark fw-bold mt-1" style="font-size: 14px;">No data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Get the canvas element
    var ctx = document.getElementById('pie-chart').getContext('2d');

    // Sample data for the pie chart
    var data = {
        labels: ["India", "China", "US"],
        datasets: [{
            data: [30, 40, 30], // values for each category
            backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'] // colors for each category
        }]
    };

    // Configure the pie chart
    var options = {
        responsive: true,
        maintainAspectRatio: false,
        title: {
            display: false,
            text: 'Pie chart'
        },
        plugins: {
            datalabels: {
                formatter: (value, context) => {
                    var dataset = context.chart.data.datasets[context.datasetIndex];
                    var total = dataset.data.reduce((previousValue, currentValue) => previousValue + currentValue, 0);
                    var currentValue = dataset.data[context.dataIndex];
                    var percentage = Math.round((currentValue / total) * 100);
                    return percentage + '%';
                },
                color: '#fff',
            }
        }
    };

    // Create the pie chart
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: options
    });
</script>


@section Scripts {
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/js/home.js"></script>
}