@*<div class="wrap-content">
    <div id="inspection-statistical" class="d-flex justify-content-between">
        <div id="result">
            <h3 class="genera-title">Result</h3>
            <div class="d-flex">
                <div class="current-tray">
                    <div class="title">
                        Tray 03 (Inspecting) <span>Inspect time: 13:33:02 -> now</span>
                    </div>

                    <div class="d-flex">
                        <div class="no_number" style="flex-basis: 10%;">
                            <div style="color: #F2F5FF;">0</div>
                            <div style="font-size: 12px;">No.</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                            <div>4</div>
                            <div>5</div>
                            <div>6</div>
                            <div>7</div>
                            <div>8</div>
                            <div>9</div>
                            <div>10</div>
                            <div>11</div>
                            <div>12</div>
                            <div>13</div>
                            <div>14</div>
                            <div>15</div>
                            <div>16</div>
                            <div>17</div>
                            <div>18</div>
                            <div>19</div>
                            <div>20</div>
                        </div>
                        <div style="flex-basis: 36%;
                            border: 1px solid red;
                            background: white;
                            padding: 5px 15px 15px 15px">
                            <div class="current-cam-left text-center">Left</div>
                            <div class="d-flex justify-content-between">
                                <div style="font-size: 12px;">Area cam 2</div>
                                <div style="font-size: 12px;">Line cam 2</div>
                            </div>
                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>
                        </div>


                        <div style="    flex-basis: 36%;
                            border: 1px solid red;
                            border-left: none;
                            background: white;
                            padding: 5px 15px 15px 15px">
                            <div class="current-cam-left text-center">Right</div>
                            <div class="d-flex justify-content-between">
                                <div style="font-size: 12px;">Area cam 2</div>
                                <div style="font-size: 12px;">Line cam 2</div>
                            </div>
                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="last-tray" style="flex-basis: 48%;">
                    <div class="title" style="
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #4F5AED;
                        ">
                        Tray 03 (Inspecting) <span style="color: #3C3C3C;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            ">Inspect time: 13:33:02 -> now</span>
                    </div>

                    <div class="d-flex">
                        <div class="no_number" style="flex-basis: 10%;">
                            <div style="color: #F2F5FF;">0</div>
                            <div style="font-size: 12px;">No.</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                            <div>4</div>
                            <div>5</div>
                            <div>6</div>
                            <div>7</div>
                            <div>8</div>
                            <div>9</div>
                            <div>10</div>
                            <div>11</div>
                            <div>12</div>
                            <div>13</div>
                            <div>14</div>
                            <div>15</div>
                            <div>16</div>
                            <div>17</div>
                            <div>18</div>
                            <div>19</div>
                            <div>20</div>
                        </div>
                        <div style="flex-basis: 36%;
                            border: 1px solid red;
                            background: white;
                            padding: 5px 15px 15px 15px">
                            <div class="current-cam-left text-center">Left</div>
                            <div class="d-flex justify-content-between">
                                <div style="font-size: 12px;">Area cam 2</div>
                                <div style="font-size: 12px;">Line cam 2</div>
                            </div>
                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>
                        </div>


                        <div style="    flex-basis: 36%;
                            border: 1px solid red;
                            border-left: none;
                            background: white;
                            padding: 5px 15px 15px 15px">
                            <div class="current-cam-left text-center">Right</div>
                            <div class="d-flex justify-content-between">
                                <div style="font-size: 12px;">Area cam 2</div>
                                <div style="font-size: 12px;">Line cam 2</div>
                            </div>
                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>

                            <div class="d-flex flex-wrap" style="border-bottom: 1px solid white;">
                                <span style="flex-basis: 48%;text-align: center;background: #66B032;border-right: 1px solid white;
                                    color: white;">OK</span>
                                <span style="flex-basis: 48%;text-align: center;background: #E4491D;color: white;">NG</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="overview">
            <div class="wrap-overview">
                <h3 id="title_overview">Overview</h3>
                <div class="counting_status d-flex justify-content-between">
                    <div class="counting bg-white">
                        <div class="first-row d-flex align-items-center justify-content-between">
                            <div class="fs-13px fw-700 color-4F5AED">Counting</div>
                            <div class="fs-13px color-767676 fw-700">Tray total</div>
                            <div class="fs-24px color-385083 fw-600 p-15">02</div>
                        </div>

                        <div class="first-row d-flex align-items-center justify-content-between">
                            <div class="fs-13px color-767676 fw-700 mw-30">Total</div>
                            <div style="padding-left: 42px;" class="w-100 fs-24px fw-600 color-385083">
                                80<span class="fs-14px">EA</span>
                            </div>
                        </div>

                        <div class="first-row d-flex align-items-center justify-content-between">
                            <div style="font-size: 13px;color: #767676;font-weight: 700;min-width: 30px;">OK</div>
                            <div style="font-size: 24px;color: #385083; font-weight: 600;padding-left: 42px;" class="w-100">
                                <div class="d-inline-block" style="min-width: 53px;">
                                    56<span style="font-size: 14px;">EA</span>
                                </div>
                                <span style="display: inline-block;
                                    background: #75ED9780;
                                    color: #1EC802;
                                    padding: 0px 10px;
                                    font-size: 14px;
                                    width: 53px;
                                    margin-left: 10px;
                                    border-radius: 3px;">60%</span>
                            </div>
                        </div>

                        <div class="first-row d-flex align-items-center justify-content-between">
                            <div style="font-size: 13px;color: #767676;font-weight: 700;min-width: 30px;">NG</div>
                            <div style="font-size: 24px;color: #385083; font-weight: 600;padding-left: 42px;" class="w-100">
                                <div class="d-inline-block" style="min-width: 53px;">
                                    19<span style="font-size: 14px;">EA</span>
                                </div>
                                <span style="display: inline-block;
                                            background: #F2B5B580;
                                            color: #E34440;
                                            padding: 0px 10px;
                                            font-size: 14px;
                                            width: 53px;
                                            margin-left: 10px;
                                            border-radius: 3px;">
                                    31.7%
                                </span>
                            </div>
                        </div>

                        <div class="first-row d-flex align-items-center justify-content-between">
                            <div style="font-size: 13px;color: #767676;font-weight: 700;min-width: 30px;">Empty</div>
                            <div style="font-size: 24px;color: #385083; font-weight: 600;padding-left: 42px;" class="w-100">
                                05<span style="font-size: 14px;">EA</span>
                            </div>
                        </div>
                    </div>

                    <div class="status bg-white"
                         style="margin-left: 20px; flex-basis: 70%; border: 1px solid #a1a8f6;height: 100%;padding: 0px 10px;border-radius: 4px;min-height: 182px;">
                        <div class="">
                            <div style="font-size: 13px;color: #4F5AED;font-weight: 700;margin-top: 8px;">IO Status</div>

                            <div>
                                <label class="label-title"
                                       style="font-size: 11px;color: #3C3C3C; font-weight: 500;">PC1-Area Camera:</label>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">Connect</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">CAM</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">PLC</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">Client</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #b6b9b6;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">
                                        Trigger
                                        CAM
                                    </label>
                                </span>
                            </div>
                            <div>
                                <label class="label-title"
                                       style="font-size: 11px;color: #3C3C3C; font-weight: 500;">PC2-Area Camera:</label>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">Connect</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">CAM</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">PLC</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">Client</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #b6b9b6;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">
                                        Trigger
                                        CAM
                                    </label>
                                </span>
                            </div>
                            <div>
                                <label class="label-title"
                                       style="font-size: 11px;color: #3C3C3C; font-weight: 500;">PC3-Area Camera:</label>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">Connect</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">CAM</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">PLC</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">Client</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #b6b9b6;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">
                                        Trigger
                                        CAM
                                    </label>
                                </span>
                            </div>
                            <div>
                                <label class="label-title"
                                       style="font-size: 11px;color: #3C3C3C; font-weight: 500;">PC4-Area Camera:</label>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">Connect</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">CAM</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">PLC</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #0ad90a;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">Client</label>
                                </span>

                                <span class="mx-1">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: #b6b9b6;font-size: 8px;"></i>
                                    <label for="" style="font-size: 11px;color: #767676;font-weight: 400;">
                                        Trigger
                                        CAM
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="statistical-chart mt-5 d-flex">
                <div class="total-error">
                    <h3 id="title_overview">Error Detach</h3>
                    <div style="color: #767676;font-size: 14px;font-weight: 600;">
                        Total <span style="font-size: 24px;color: #385083;">30</span> detach
                    </div>
                </div>

                <div class="chart" style="margin-left: 5em;">
                    <canvas id="pie-chart" width="300" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div id="log-inspection" class="d-flex justify-content-between">
        <div id="result-log">
            <h3 class="genera-title">Result Log</h3>
            <table class="ea_table">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Model</th>
                        <th>Tray Number</th>
                        <th>Side</th>
                        <th>No</th>
                        <th>Camera</th>
                        <th>Result</th>
                        <th>Error Detection</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>13:49:12</td>
                        <td>Canvas_V01</td>
                        <td>1</td>
                        <td>Left</td>
                        <td>10</td>
                        <td>Area</td>
                        <td class="status-item text-success">OK</td>
                        <td class="detail-error">-</td>
                    <tr>

                    <tr>
                        <td>13:49:12</td>
                        <td>Canvas_V03</td>
                        <td>2</td>
                        <td>Right</td>
                        <td>11</td>
                        <td>Line</td>
                        <td class="status-item text-danger">NG</td>
                        <td class="detail-error">Black Dot</td>
                    <tr>

                    <tr>
                        <td>13:49:12</td>
                        <td>Canvas_V05</td>
                        <td>3</td>
                        <td>Left</td>
                        <td>12</td>
                        <td>Area</td>
                        <td class="status-item text-success">OK</td>
                        <td class="detail-error">-</td>
                    <tr>
                    <tr>
                        <td>13:49:12</td>
                        <td>Canvas_V03</td>
                        <td>4</td>
                        <td>Left</td>
                        <td>13</td>
                        <td>Area</td>
                        <td class="status-item text-success">OK</td>
                        <td class="detail-error">-</td>
                    <tr>

                    <tr>
                        <td>13:49:12</td>
                        <td>Canvas_V03</td>
                        <td>5</td>
                        <td>Right</td>
                        <td>14</td>
                        <td>Line</td>
                        <td class="status-item text-success">OK</td>
                        <td class="detail-error">-</td>
                    <tr>

                    <tr>
                        <td>13:49:12</td>
                        <td>Canvas_V06</td>
                        <td>6</td>
                        <td>Left</td>
                        <td>15</td>
                        <td>Area</td>
                        <td class="status-item text-danger">NG</td>
                        <td class="detail-error">NG Tape</td>
                    <tr>
                    <tr>
                        <td>13:49:12</td>
                        <td>Canvas_V01</td>
                        <td>7</td>
                        <td>Left</td>
                        <td>16</td>
                        <td>Area</td>
                        <td class="status-item text-danger">NG</td>
                        <td class="detail-error">Glue</td>
                    <tr>
                </tbody>
            </table>
        </div>
        <div id="time-log">
            <h3 class="genera-title">Time Log</h3>
            <table class="ea_table">
                <thead>
                    <tr>
                        <th class="max-w90">Time</th>
                        <th class="max-w105">Type</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="max-w90">13:49:12</td>
                        <td class="max-w105">Program</td>
                        <td>Sent>>LOATARESULT32,16,43</td>
                    <tr>
                    <tr>
                        <td class="max-w90">13:49:12</td>
                        <td class="max-w105">Program</td>
                        <td>Sent>>LOATARESULT32,16,43</td>
                    <tr>
                    <tr>
                        <td class="max-w90">13:49:12</td>
                        <td class="max-w105">Program</td>
                        <td>Sent>>LOATARESULT32,16,43</td>
                    <tr>
                    <tr>
                        <td class="max-w90">13:49:12</td>
                        <td class="max-w105">Program</td>
                        <td>Sent>>LOATARESULT32,16,43</td>
                    <tr>
                    <tr>
                        <td class="max-w90">13:49:12</td>
                        <td class="max-w105">Program</td>
                        <td>Sent>>LOATARESULT32,16,43</td>
                    <tr>
                    <tr>
                        <td class="max-w90">13:49:12</td>
                        <td class="max-w105">Program</td>
                        <td>Sent>>LOATARESULT32,16,43</td>
                    <tr>
                    <tr>
                        <td class="max-w90">13:49:12</td>
                        <td class="max-w105">Program</td>
                        <td>Sent>>LOATARESULT32,16,43</td>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
        // Get the canvas element
        var ctx = document.getElementById('pie-chart').getContext('2d');

        // Sample data for the pie chart
        var data = {
            labels: ["India", "China", "US", "Canada"],
            datasets: [{
                data: [30, 40, 30], // values for each category
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'] // colors for each category
            }]
        };

        // Configure the pie chart
        var options = {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: false,
                text: 'Pie chart'
            },
            plugins: {
                datalabels: {
                    formatter: (value, context) => {
                        var dataset = context.chart.data.datasets[context.datasetIndex];
                        var total = dataset.data.reduce((previousValue, currentValue) => previousValue + currentValue, 0);
                        var currentValue = dataset.data[context.dataIndex];
                        var percentage = Math.round((currentValue / total) * 100);
                        return percentage + '%';
                    },
                    color: '#fff',
                }
            }
        };

        // Create the pie chart
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options
        });
</script>

<script src="get-current-time.js"></script>*@
