<div class="history">
    <div id="inspection-statistical" class="d-flex justify-content-between">
        <div id="result">
            <div class="d-flex">
                <div class="current-tray">
                    <div class="d-flex align-items-center" style="margin-bottom: 20px">
                        <span class="btn-previous-tray"> < </span>
                        <div id="title-current-tray">
                            TRAY 10
                        </div>
                        <span class="btn-next-tray"> > </span>
                    </div>
                    <div class="d-flex check-item justify-content-center">
                        <div class="is-check-tray checking-tray-left">
                            <div class="title-cam text-center mb-1">Left</div>
                            <div class="ng-ok">
                                <div class="d-flex justify-content-center flex-column" id="rs-left"></div>
                            </div>
                        </div>

                        <div class="is-check-tray checking-tray-right">
                            <div class="title-cam text-center mb-1">Right</div>
                            <div class="ng-ok">
                                <div class="d-flex justify-content-center flex-column" id="rs-right"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="image">
                    <div>
                        <h3 id="type-item-stiffiner">Area Camera</h3>
                        
                        <div class="no-data text-center">
                            <span>No data</span><br />
                            <span>Please click to NG item to view error details</span>
                        </div>

                        <div class="error-image d-none mt-4">
                            @for (int i = 1; i <= 3; i++)
                            {
                                <img src="~/image/error-image.png" class="mb-3" />
                            }
                        </div>
                    </div>
                    <div>
                        <h3 id="type-item-stiffiner" class="mt-3">Line Camera</h3>
                        <div class="no-data text-center">
                            <span>No data</span><br />
                            <span>Please click to NG item to view error details</span>
                        </div>
                        <div class="error-image d-none mt-4">
                            @for (int i = 1; i <= 1; i++)
                            {
                                <img src="~/image/error-image.png" class="mb-3" />
                            }
                        </div>
                    </div>
                </div>

                <div class="info-error">
                    <h3 id="title">NG Classification</h3>

                    <div class="info">
                        <span class="information">Information</span> <br />

                        <span class="position">
                            Position: <b class="b-position">-</b>
                        </span>
                        <br />
                        <span class="side">
                            Side: <b class="b-side">-</b>
                        </span>
                    </div>

                    <div class="title-ng-detail mt-4">
                        NG details
                    </div>

                    <div>
                        <div class="title-table d-flex">
                            <div class="label-error">Error Type</div>
                            <div class="qty-error">Quantity</div>
                        </div>

                        <div class="list-error d-none">
                            @for (int i = 0; i <= 3; i++)
                            {
                                <div class="d-flex">
                                    <div class="label-error">Black Dot</div>
                                    <div class="qty-error">2</div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const data = @Html.Raw(Json.Serialize(ViewBag.GroupedData));

        if (data.length > 0) {
            let rsLeft = '';
            let rsRight = '';

            data[0].forEach(function (item, key) {
                let rs = item.resultArea == 1 && item.resultLine == 1 ? 'OK' : (item.resultArea == 3 && item.resultLine == 3 ? 'Empty' : 'NG')

                if (key < 20) {
                    rsRight += `
                        <div class="result-left-tray" onclick="showItem(${item.id}, ${key}, ${item.resultArea}, ${item.resultLine})" style="background: ${rs == 'OK' ? '#66B032' : (rs == 'Empty' ? '#B5B5B5' : '#E4491D')};cursor: ${rs != 'NG' ? 'not-allowed' : ''}">
                            <span class="position">${key + 1}</span>
                            <span class="result">
                            ${rs}
                            </span>
                        </div>
                    `
                } else {
                    rsLeft += `
                        <div class="result-left-tray" onclick="showItem(${item.id}, ${key}, ${item.resultArea}, ${item.resultLine})" style="background: ${rs == 'OK' ? '#66B032' : (rs == 'Empty' ? '#B5B5B5' : '#E4491D')};cursor: ${rs != 'NG' ? 'not-allowed' : ''}">
                            <span class="position">${key + 1}</span>
                            <span class="result">
                               ${rs}
                            </span>
                        </div>
                    `
                }
            });

            $('#rs-left').html(rsLeft);
            $('#rs-right').html(rsRight);
        }

        function showItem(id, key, rsArea, rsLine) {
            if (rsArea == 2 || rsLine == 2) {
                $('.b-position').html(key + 1);
                $('.b-side').html(key >= 20 ? 'Left' : 'Right');

                $('.no-data').addClass('d-none');
                $('.error-image').removeClass('d-none');
                $('.list-error').removeClass('d-none')
            }           
        }

    </script>
    <script src="~/js/history.js"></script>
}