<div id="header-control" class="d-flex justify-content-between">
    <div id="time" class="d-flex align-items-center">
        <div id="date">
            Thursday, Jan 18, 2024
        </div>
        <div id="current-time">
            13:33:53
        </div>
    </div>

    <div id="action" class="d-flex align-items-center">
        <div class="option-model d-flex align-items-center">
            <label for="">Model</label>
            <select name="" id="">
                <option value="">All</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>

        <div class="option-time">
            <label for="">Search</label>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <select name="" id="">
                <option value="">Start time to end time</option>
                <option value="">2</option>
            </select>
        </div>

        <a class="btn btn-setting">
            <i class="fa fa-cog" aria-hidden="true"></i>
            Setting
        </a>
        <a href="#" class="btn btn-primary btn-export-excel">
            Export report
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</div>