@using Microsoft.AspNetCore.Mvc.Rendering

@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
}

<div id="header-control" class="@(action == "History" ? "mt-3" : "") d-flex justify-content-between">
    <div id="time" class="d-flex align-items-center">
        <div id="date">
            Thursday, Jan 18, 2024
        </div>
        <div id="current-time">
            13:33:53
        </div>
    </div>

    @if (action == "Index" && controller == "Home")
    {
        <div id="action" class="d-flex align-items-center">
            @*<button type="button" class="btn btn-setting" data-toggle="modal" data-target="#modelSearch">
                    Search
                </button>*@

            <button type="button" class="btn btn-setting" data-toggle="modal" data-target="#exampleModal">
                Setting
            </button>

            <!-- Modal setting -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title fw-bold" style="font-size: 18px;" id="exampleModalLabel">Setting</h4>
                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                                X
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Model:</label>
                            <select class="custom-select custom-select-sm" style="outline: none;padding: 5px;">
                                <option value="1" selected>Stiffiner</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary btn-export-excel" data-toggle="modal" data-target="#exampleModal1">
                Setting Target
            </button>

            <!-- Modal setting -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title fw-bold" style="font-size: 18px;" id="exampleModalLabel">Setting Target</h4>
                            <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                                X
                            </button>
                        </div>
                        <form action="/" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="target" placeholder="2000">
                                </div>
                            </div>
                            <div class="modal-footer" style="border-top: none">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Apply</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <button class="ml-4 btn btn-primary" style="margin-left: 3em">Refresh Data</button>
    }

</div>