<div id="header" class="d-flex justify-content-between">
    <div id="icon" class="d-flex align-items-center">
        <img src="icon/logo_on.png" alt="" width="115px">
        <h3>Inspection Monitoring</h3>
    </div>

    <div id="logo_company_design">
        <div id="logo_company">
            <img src="icon/logo_company.png" alt="" width="130px">
            <h4>Design by</h4>
        </div>
    </div>
</div>